body{
    background: url(record.png);
    background-repeat: repeat;
    margin: 0;
}
h3{
    text-align: center;
}
.header{
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
}
.listicle{
    background-color: lightgray;
    font-style: bold;
}
.subHeading{
    background-color: lightgray;
    padding: 1em;
    text-align: center;
}
